<div class="position-relative overflow-hidden mb-3" style="height: 80px;">
    {{ fields.field_category_image.content }}
    <a href="" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
        {{ fields.title.content }}
    </a>
</div>